{% extends "train/layout.html" %}
{% load static %}

{% block title %}
    Edit Session
{% endblock %}

<!--Page 1 of Edit Session: Trainer view to select a client and Session to edit-->
{% block body %}
<div class="container">
    <div class="set-group">
        <h3> Edit a Previous Session </h3>
        <form action="{% url 'editsession' %}" method="get">
            <div class="form-group">
                <select name="client" id="client-select" class="form-control">
                    <option selected="selected" disabled>Select a Client</option>
                    {% for client in clients %}
                        <option value="{{client.pk}}">{{client.first_name}} {{client.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" id="session-form">
                <select name="sessionpk" id="session-select" class="form-control">
                    <option selected="selected" disabled>Select a Session</option>
                </select>
                <br>
                <input type="submit" class="btn btn-danger" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'train/editsession1.js' %}"></script>
{% endblock %}