{% load static %}

<!--Pagination navigation for INDEX/ default views (trainer and client)-->
<nav aria-label="Page navigation">
    <ul class="pagination pag-align float-right">
        {% if data.prev_page > 0 %}
            <li class="page-item">
                <a class="page-link" href="{% url 'index' pnum=data.prev_page %}">Previous</a></li>
        {% else %}
            <!-- disabled previous button if page 1 -->
            <li class="page-item disabled">
                <span class="page-link">Previous</span></li>
        {% endif %}
            <li class="page-item active" aria-current="page">
                <span class="page-link"> {{ data.pnum }} </span></li>
        {% if data.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'index' pnum=data.next_page %}">Next</a></li>
        {% else %}
            <!-- disabled next button if last page -->
            <li class="page-item disabled">
                <span class="page-link">Next</span></li>
        {% endif %}
    </ul>
</nav>